* {
    margin: 0;
    padding: 0;
}

.panel {
    width: 600px;
    margin: 20px auto;
}

.item {
    border: 1px solid #ccc;
    line-height: 24px;
}

.item h2 {
    font-weight: normal;
    font-size: 16px;
    background: #ccc;
    height: 50px;
    line-height: 50px;
    padding: 0 20px;
    border-bottom: 1px solid #fff;
    cursor: pointer;
}

.list li {
    list-style: none;
    padding: 10px 20px;
    border-bottom: 1px solid #ccc;
}

.list li:last-child {
    border-bottom: none;
}

.vip {
    color: orangered;
}

.listWrap{
    height: 0;
    overflow: hidden;
    transition: .5s;
}