* {
    margin: 0;
    padding: 0;
}

.panel {
    width: 600px;
    margin: 20px auto;
}

.group {
    border: 1px solid #ccc;
    line-height: 24px;
}

.group h2 {
    font-weight: normal;
    font-size: 16px;
    background: #ccc;
    height: 32px;
    line-height: 32px;
    padding: 0 20px;
}

.item {
    padding: 10px 20px;
    border-bottom: 1px solid #ccc;
}

.item:last-child {
    border-bottom: none;
}

.vip {
    color: orangered;
}